body{
    font-family: 'Roboto';
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-touch-callout:none;
}

h1{
    font-size: 200%;
}

.date{
    font-size: 75%;
    text-decoration: underline;
}

.authors{
    font-size: 75%;
    text-decoration: underline;
}

.type{
    color: #d65050;
    padding-top: 5%;
}

.listItem{
    transition: .5s ease all;
}

#ann{
    transition: .3s all ease;
}

#graph{
    transition: .3s all ease;
}

.blur{
    filter: blur(5px)
}

.imageHold{
    margin-top: 5%;
    transform: scale(1.2,1.5);
    filter: none;
    /* user-select: none; */
}

.listItem:hover{
    background-color: #8e8e8e;
}

.row footer .icons {
    font-size: 4vw;
    color: #8e8e8e;
    padding-right: 2vw;
    padding-left: 2vw;
    padding-bottom: 3vh;
}

.icons:hover{
    cursor: pointer;
}


.row footer h4{
    font-size: 20px;
    color: #8e8e8e;
}

.imgWidth{
    width: 30%;
}



nav{
    padding-top: 2%;
}

@media only screen and (max-width: 992px)  {
    

    .imgWidth{
        width: 50%;
    }
    .row footer .icons {
        font-size: 12vw;
    }
}
