/* #net{

	width: 1289px; 
	height: 720px;
}

#footer{
	background-color:rgb(142, 142, 142);
	width: 100%
}

#container{
	font-family: 'Song Myung', serif;

	padding-top: 40px;
	
}

#brazo{
		
}

#container2{
	font-family: 'Song Myung', serif;

}

#robot{

	display: block;
	padding-bottom: 20px;
}

#container3{

	font-family: 'Song Myung', serif;

}


#link{

	display: block;

}

#frase{
	font-family: 'Merienda', cursive;
	padding-top: 10%;
}

#grafico{
	padding-top: 10%;
} */