<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <title>Prediction Module Test1</title>
    <link rel="stylesheet" href="../static/index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Song+Myung" rel="stylesheet">
</head>

<body>
    <header id="header">

        <nav class="black" style="height: 100%;">
            <div class="nav-wrapper container">
                <!-- <a href="#!" class="brand-logo robo">El Robots
                    <img src="../static/8.jpeg" style="width: 50px" alt=""> ta</a> -->
                <img src="../static/Robo.png" alt="" class="imgWidth">
                <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li class="listItem">
                        <a href="https://elrobotista.com/">Inicio</a>
                    </li>
                    <li class="listItem">
                        <a href="https://elrobotista.com/blog/">Blog</a>
                    </li>
                    <li class="listItem">
                        <a href="https://elrobotista.com/about/">Nosotros</a>
                    </li>
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li class="listItem">
                <a href="https://elrobotista.com/">Inicio</a>
            </li>
            <li class="listItem">
                <a href="https://elrobotista.com/blog/">Blog</a>
            </li>
            <li class="listItem">
                <a href="https://elrobotista.com/about/">Nosotros</a>
            </li>
        </ul>
    </header>
    <div class="container">
        <div class="row mainClass">
            <div class="col s12">
                <p class="type">PROGRAMACIÓN</p>
                <h1>Red neuronal artificial para trafico vehicular</h1>
                <span class="date">POSTED JULY 4, 2018</span>
                <span class="authors">MARCO HERNANDEZ Y LUIS HERNANDEZ</span>
            </div>
        </div>
        <div class="row">

            <div class="col m12 l6 s12">
                <img src="../static/5.jpeg" style="width: 100%" id="ann" alt="">
            </div>
            <div class="col m12 l6 s12 mainClass">

                <p class="pull-right" style="width: 100%" id="frase">"No me puedes procesar con un cerebro normal"
                    <br> -Charlie Sheen.</p>
                <br>

                <p>Las redes nueronales artificiales no son nada nuevo, existen desde los años 40. Una red nueronal es un sistema
                    de nodos interconectados entre si. No llevan un procesamiento de ejecucion lineal, como puedes observar
                    en la imagen de la izquierda, hay muchas lineas y muchos nodos conectados entre si. Por cierto, esa es
                    la representacion grafica de la red nueronal que estaras utilizando en este servicio!
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col m12 l6 s12 mainClass">
                <p style="width: 100%" id="grafico">Trabajamos arduamente para implementar el mejor algortimo y llevarte la mejor experiencia posible. Desde
                    el analsis del problema, planteamientos de escenarios, analisis estadisticos y ecuaciones matematicas
                    que ni nosotros comprendemos, pero el sistema funciona, confia en nosotros, somos ingenieros. Observa
                    un analisis de prueba VS uno de entrenamiento. De momento te presentamos la version 1.0</p>
            </div>
            <div class="col m12 l6 s12">

                <img src="../static/6.jpeg" style="width: 100%;" alt="" id='graph'>
            </div>
        </div>
        <div class="row mainClass">
            <span>Ahora, te invitamos que nos ayudes a entrenar nuestra red, solamente crea un escenario y nosotros haremos el
                resto.
            </span>
            <br>
            <span>Estamos concientes de que no podrias saber la velocidad promedio, los numeros de carros ni el limite de velocidad
                pero, solo te pedimos que te imagines un escenario, ya que este modulo solamente es una parte del proyecto, solo necesitamos tu 
                ayuda para "enseñarle".
            </span>
            <br>
            <div class="row" style="margin-top: 5%">
                <div class="input-field col s6">
                    <select name="year" id="year">
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                    </select>
                    <label for="year">Año</label>
                </div>
                <div class="input-field col s6">
                    <select name="month" id="month">
                        <option value="January">Enero</option>
                        <option value="February">Febrero</option>
                        <option value="March">Marzo</option>
                        <option value="April">Abril</option>
                        <option value="May">Mayo</option>
                        <option value="June">Junio</option>
                        <option value="July">Julio</option>
                        <option value="August">Agosto</option>
                        <option value="September">Septiembre</option>
                        <option value="October">Octubre</option>
                        <option value="November">Noviembre</option>
                        <option value="December">Diciembre</option>
                    </select>
                    <label for="month">Mes</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <select name="direction" id="direction">
                        <option value="N">Norte</option>
                        <option value="W">Este</option>
                        <option value="O">Oeste</option>
                        <option value="S">Sur</option>
                    </select>
                    <label for="year">Direccion</label>

                </div>
                <div class="input-field col s6">
                    <input type="number" name="" id="speedL">
                    <label for="speedL">Limite</label>

                    <br>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input type="number" name="" id="time" min="0" max="23">
                    <label for="time">Hora</label>
                    <br>
                </div>
                <div class="input-field col s6">
                    <select name="day" id="day">
                        <option value="Monday">Lunes</option>
                        <option value="Tuesday">Martes</option>
                        <option value="Wednesday">Miercoles</option>
                        <option value="Thrusday">Jueves</option>
                        <option value="Friday">Viernes</option>
                        <option value="Saturday">Sabado</option>
                        <option value="Sunday">Domingo</option>
                    </select>

                    <label for="day">dia</label>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <select name="street" id="street">
                            <option value="Street">Street</option>
                            <option value="Road">Road</option>
                            <option value="Lane">Lane</option>
                            <option value="Drive">Drive</option>
                            <option value="Place">Place</option>
                            <option value="Esplanade">Splanade</option>
                            <option value="Terrace">Terrace</option>
                            <option value="Crescent">Crescent</option>
                            <option value="Avenue">Avenue</option>
                            <option value="Parade">Parade</option>
                        </select>
                    </div>
                    <div class="input-field col s6">
                        <input type="number" name="" id="cars">
                        <label for="cars">Carros</label>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="number" name="avg" id="avg">
                        <label for="avg">Velocidad promedio</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="number" name="maxS" id="maxS" disabled>
                        <small>Velocida Maxima</small>
                    </div>
                    <button data-target="modal1" class="btn modal-trigger" id="send">Predecir...</button>
                </div>
            </div>
        </div>
        <div id="modal1" class="modal">
            <div class="modal-content">
                <p id="modalP"></p>
                <p id="modalP2"></p>
                <div class="preloader-wrapper big active" id="loader">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <h1 id="trafficValue"></h1>

            </div>
            <div class="modal-footer">
                <a href="#!" id='saveFeedGood' class="modal-close waves-effect light-green waves-green btn text-white">Fue acierto</a>
                <a href="#!" id='saveFeedBad' class="modal-close waves-effect red waves-green btn">No acierto</a>

            </div>
        </div>
    </div>


    <div class="row black" style="margin-bottom: 0">
        <footer class="col s12 center-align">

            <h4>Siguenos en redes sociales</h4>
            <a href="https://www.facebook.com/elrobotista">
                <i class="fa fa-facebook icons center-align" aria-hidden="true"></i>
            
            </a>
            <a href="https://www.instagram.com/elrobotista/">
                <i class="fa fa-instagram icons center-align" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/elrobotista">
                    <i class="fa fa-twitter icons center-align" aria-hidden="true"></i>

            </a>

        </footer>
    </div>

    <script src="../static/index2.js"></script>
</body>

</html>